.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.square {
  height: 100px;
  flex: 0 0 32%;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
}

.square-item {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-weight: 700;
}

.square-win {
  border: 2px solid green;
}

.disabled {
  cursor: not-allowed;
}
